<% content_for(:subtitle, "#{@species.name} Sightings") %>

<% if @species.sightings.any? %>
  <ul>
    <% @species.sightings.each do |sighting| %>
    <li>
      On: <%= sighting.date %> |
      LAT: <%= sighting.latitude %> |
      LONG: <%= sighting.longitude %> |
      REGION: <%= sighting.region %> |
      <%= link_to "Edit", edit_species_sighting_path(@species, sighting) %> |
      <%= link_to "Delete", species_sighting_path(@species, sighting),
                                  :data => {:confirm => "Are you sure?",
                                                    :method => "delete"} %>
    </li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no sightings yet!</p>
    <% end %>

    <p><%= link_to "Add a sighting", new_species_sighting_path(@species) %></p>
    <p><%= link_to "Delete species", species_path(@species),
                                  :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %></p>

    <p><%= link_to "Return to species", species_index_path %></p>
